<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="3" parallel="tests">
    <test name="ChromeTest">
        <parameter name="browserType" value="chrome"/>
        <parameter name="isSomething" value="true"/>
        <classes>
            <class name="ge.tbcitacademy.executor.JSexecutor">
                <!--                <methods>-->
                <!--                    <include name=""-->
                <!--                </methods>-->
            </class>
        </classes>
    </test>
    <test name="EdgeTest">
        <parameter name="browserType" value="edge"/>
        <parameter name="isSomething" value="true"/>
        <classes>
            <class name="ge.tbcitacademy.executor.JSexecutor">
                <!--                <methods>-->
                <!--                    <include name=""-->
                <!--                </methods>-->
            </class>
        </classes>
    </test>
    <test name="FirefoxTest">
        <parameter name="browserType" value="Firefox"/>
        <parameter name="isSomething" value="true"/>
        <classes>
            <class name="ge.tbcitacademy.executor.JSexecutor">
                <!--                <methods>-->
                <!--                    <include name=""-->
                <!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>